.pagina {
    min-height: 100vh;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina h1 {
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.pagina p {
    text-align: center;
    margin-bottom: 35px;
    max-width: 80%;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 20px;
}

.btn-proximo {
    margin-top: 40px;
    background: #ff6ea8;
    color: white;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 40px;
    font-weight: 600;
}