body {
    background: #141414;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 80px 25px;
}

section h2 {
    font-size: 2.5rem;
    text-align: center;
    /* color: #ff6ea8; */
    color: white;
    margin-bottom: 40px;
}

body.start-page {
background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .75)), url('../img/fundo.jpg') center center;
background-size: cover;
}

/* HERO */
.hero {
    min-height: 80vh;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hero h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 20px;
}

.hero p {
    color: #d8d8d8;
    max-width: 280px;
    margin: auto;
    line-height: 1.8;
    font-size: 1rem;
}

.btn-entrar {
    text-decoration: none;
    margin-top: 40px;
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    background: #ff6ea8;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.btn-entrar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 110, 168, 2);
}

.menu {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
    padding: 18px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .3);
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #ff6ea8;
    box-shadow: 0 0 25px rgba(255, 110, 168, .8);
}

.icon {
    min-width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 15px;
    background: rgba(255, 110, 168, .15);
    color: #ff6ea8;
}

.card h3 {
    color: white;
    margin-bottom: 5px;
}

.card p {
    color: #c9c9c9;
    font-size: .9rem;
    line-height: 1.4;
}

.aviso {
    text-align: center;
    color: rgba(255, 110, 168, .5);
    font-size: .75rem;
    margin-top: 20px;
}